.divider-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  :first-child {
    padding: 0px 40px 0px 40px; /* Добавляем отступ слева */
  }
  :last-child {
    margin: 0px 40px 0px 0px; /* Добавляем отступ справа */
  }
}
.divider-flexText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  :first-child {
    padding: 0px 40px 0px 40px; /* Добавляем отступ слева */
  }
  :last-child {
    width: 100%;
    max-width: 350px;
  }
}
