@import "../../../globalStyles/breakPoints.scss";
.divider-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  :first-child {
    white-space: nowrap;
    padding: 0px 40px 0px 0px;
    @include mobile {
      padding: 0px 0px 0px 0px;
    }
  }
  :last-child {
    margin: 0px 0px 0px 0px;
    @include mobile {
      margin: 0px 0px 0px 0px;
    }
  }
}
.divider-flexText {
  display: flex;
  justify-content: space-between;
  align-items: center;

  :last-child {
    width: 100%;
    white-space: nowrap;
    flex: 1;
    padding-left: 10px;
  }
}
.divider-flexText > :first-child:not(:last-child) {
  white-space: nowrap;
  padding: 0px 20px 0px 0px;
}
