@import "../../globalStyles/breakPoints.scss";
.basketUser {
  width: 100%;
  .container-background {
    background-color: rgba(249, 249, 249, 1);
    padding: 20px 0px;

    .container-basketUser {

      max-width: 1400px;
      margin: 0 auto;
      width: 100%;
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .container-payment {
        width: 100%;
        display: flex;
        @media screen and (max-width: 790px) {
          flex-direction: column;
        }
        gap: 30px;
        .item-left {
        }
        .item-right {
          flex: 1;
        }
      }
    }
  }
}
