$black: #1d1d1d;
$gray1: #bbbbbb;
$gray2: #e8e8e8;
$gray3: #9b9b9b;
$gray4: #767676;

$green1: #09640e;
$green2: #c2fcd2;
$green3: #2c850d;

$blue1: #71abea;
$blue2: #b4d8ff;
$blue3: #d3e8ff;
$blue4: #e5f2ff;
$blue5: #53a0f3;
$blue6: #e7f3ff;
$blue7: #eff7ff;

$purple: #8681ff;

$red1: #eb001b;
$red2: #fdd0ce;

$yellow1: #ffe1c6;
$yellow2: #ffcd29;
$yellow3: #fff9d4;

$white: #ffffff;
