@import "../../globalStyles/breakPoints.scss";
.blockContact {
  width: 100%;
  padding: 50px 20px;
  .container {
    max-width: 1400px;
    margin: 0 auto;
    .title {
    }
    .container-form {
      padding: 30px 0px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .blockForm {
        padding: 20px;
      }
      .map {
        display: flex;
        justify-content: flex-end;
        img {
          width: 100%;
          object-fit: contain;
          @include tablet {
            width: 100%;
          }
        }
      }
    }
  }
}
