@import "../../../globalStyles/color.scss";
.search-block {
  width: 100%;
}
.relative {
  position: relative;
}
.prefix {
  position: absolute;
  left: 10px;
  top: 14px;
  cursor: pointer;
}
.flex {
  display: flex;
  text-align: right;
  flex-direction: column;
}
.search {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  border: 2px solid $gray2;
  padding-left: 35px;
  &:hover {
    border-color: $gray1;
  }
  &:focus {
    border: 2px solid $green1 !important;
  }
  &:active {
    border: 2px solid $green1 !important;
  }
  &:disabled {
    border: 2px solid $gray2;
  }
}
