@import "../../../globalStyles/color.scss";
.search-block {
  width: 100%;
}
.relative {
  position: relative;
}
.prefix {
  position: absolute;
  left: 10px;
  top: 14px;
  cursor: pointer;
}
.flex {
  display: flex;
  text-align: right;
  flex-direction: column;
}
.search {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  border: 2px solid $gray2;
  padding-left: 35px;
  &:hover {
    border-color: $gray1;
  }
  &:focus {
    border: 2px solid $green1 !important;
  }
  &:active {
    border: 2px solid $green1 !important;
  }
  &:disabled {
    border: 2px solid $gray2;
  }
}
.dropdown {
  width: 100%;
  overflow-y: auto;
  max-height: 200px;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 100;
  background-color: $white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  min-width: 150px;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
