@import "../../../globalStyles/color.scss";
.dataPicker-block {
  width: 100%;
}
.postfix {
  position: absolute;
  right: 10px;
  top: 14px;
  cursor: pointer;
}
.dataPicker {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  border: 2px solid $gray2;
  padding-left: 35px;
  &:hover {
    border-color: $gray1;
  }
  &:focus {
    border: 2px solid $green1 !important;
  }
  &:active {
    border: 2px solid $green1 !important;
  }
  &:disabled {
    border: 2px solid $gray2;
  }
}
.dataPicker::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../../../public/svg/calendar.svg") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
