@import "../../../globalStyles/color.scss";
@import "../../../globalStyles/breakPoints.scss";
.container-DropDown {
  position: relative;
  width: 100%;
}

.dropDown {
  position: relative;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 15px 25px 15px 25px;
}

.selectedOption {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  .selectText {
    max-width: 330px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include mobile {
      max-width: 350px;
    }
  }
}

.options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
}

.options.open {
  display: block;
}

.option {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.option:hover {
  background-color: $blue7;
}
.option:active {
  background-color: $blue2;
}
