@import "../../../globalStyles/color.scss";
.custom-block {
  width: 100%;
}
.custom-err {
  border-color: $red1 !important;
}
.label-err {
  color: $red1;
  font-weight: 500;
  font-size: 14px;
}
.flex {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.relative {
  position: relative;
}

.postfix {
  position: absolute;
  left: 10px;
  top: 13.5px;
}
.custom {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  border: 2px solid $gray2;
  &:hover {
    border-color: $gray1;
  }
  &:focus {
    border: 2px solid $green1 !important;
  }
  &:active {
    border: 2px solid $green1 !important;
  }
  &:disabled {
    border: 2px solid $gray2;
  }
}

.custom-tel {
  padding-left: 27px;
}

.custom-bigText {
  padding: 12px 16px 12px 16px;
  &:hover {
    border-color: $gray1;
  }
  &:focus {
    border: 2px solid $green1 !important;
  }
  &:active {
    border: 2px solid $green1 !important;
  }
  &:disabled {
    border: 2px solid $gray2;
  }
}
