.text-h1 {
  font-family: "Inter Bold";
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
.text-h2 {
  font-family: "Inter Bold";
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}
.text-h3 {
  font-family: "Inter Bold";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
.text-body1 {
  line-height: 49px;
  font-size: 36px;
  font-weight: 700;
}
.text-body2 {
  line-height: 33px;
  font-size: 24px;
  font-weight: 600;
}
.text-body2_bold {
  line-height: 33px;
  font-size: 24px;
  font-weight: 500;
}
.text-body3 {
  line-height: 27px;
  font-size: 20px;
  font-weight: 600;
}
.text-body3_bold {
  line-height: 27px;
  font-size: 20px;
  font-weight: 500;
}
.text-body4 {
  line-height: 26px;
  font-size: 16px;
  font-weight: 500;
}
.text-body4_bold {
  line-height: 26px;
  font-size: 16px;
  font-weight: 600;
}
.text-body5 {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}
.text-body6 {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}
.text-caption1 {
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
}
.text-caption2 {
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
}
