* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Inter Bold";
  src: url("./fonts/Inter-Bold.otf") format("opentype");
}
